* {
   margin: 0px;
   box-sizing: border-box;
   text-align: center;
  
}
body, html {
    width: 100%;
    height: 100%;
}  

/* Media Queries start line 403 */

/* Original CSS from Assignment 1 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
    #head {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background: 30px;
    background-color: #4aaaa5;
    width: 200px;
    Height: 62px;
    margin-left: 230px;
    float:left;
    padding-left: 10px;
    padding-top: 20px;
    border-bottom: 0px solid #cccccc;

    }

    body {
        clear:both;
        margin:0;
        padding: 0;
        background-image: url("../../Images/concrete-texture.png");
        background-repeat: repeat;
    }

    .header_links {
        float: right; 
        padding-right: 320px;
        padding-top: 13px;
        font-size: 20px;
        border-bottom: 3px;
    }

    #para_floated {
        clear: both;
        float: left;
        width: 900px;
        padding-bottom: 20px;
        padding-left: 50px;
        font-family: Arial;
   }
        

    #para_font {
        font-family: Arial, Helvetica, sans-serif
   }       
        

    .links {
    color:#777777;
    padding-top:10px;
    font-family: 'Times New Roman', Times, serif;
  
    }

    nav {
    border-bottom: 2px solid rgb(211, 205, 207);
    background: #ffffff;
    width: 100%;
    max-width: 1500px;
    padding: 10px;
    margin: 0 auto 6px auto;
    color: #777777;
    height: 64px;

    }

   nav a {
        text-decoration: none;
    }

    .top_line {
    background-color: lightgrey; 
    height: 0px; 
    border: 1px; }
    
    }

    #about {
    color: #4aaaa5;
    padding-top: 40px;
    font-size: 35px;
    padding-right: 720px;

    }

    .line {
    display: block;     
    height: 2px;
    border: 0;
    background-color: rgb(211, 205, 207);
    margin: 50px;
    
    }

    #mainImage {
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 5px;
   
    }


    section { 

    clear:both;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(224, 226, 224);
    background-color: #ffffff; 
    width: 100%;
    max-width: 960px;
    height: 500px;
    margin: 0 auto;
    
    }

    .sectionShift { 
    
        clear:both;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(224, 226, 224);
        background-color: #ffffff; 
        width: 100%;
        max-width: 960px;
        height: 500px;
        margin-right:233px;
        margin-top: 6px;
        
    }

    .galleryBox { 

        clear:both;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(224, 226, 224);
        background-color: #ffffff; 
        width: 100%;
        max-width: 870px;
        height: 900px;
        float:left;
        margin-left: 230px;
        margin-top: 6px;
        margin-bottom: 120px;
            
        }
    p   {
        color:#777777;
        text-align: left;
        font-family: 'helvetica';
        font-size: 16px;
        line-height: 24px;
   
    }
    img {
    width: 200px;
    float: left;
    margin-right: 20px;

    }
    .footer {
    clear: both;
    background-color: #666666;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto 3px auto;
    height: 60px;
    }
    .footer_fix {
        clear: both;
        background-color: #666666;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto 3px auto;
        height: 60px;
        
    }
    .copyright {
    color: white;
    float: right;
    padding-right: 50%;
    margin-top: 8px;
        
    }
    .footer_line {
    background-color: #4aaaa5; 
    height: 6px; 
    border: 0; 

    }
    #form {
        padding-right: 730px;
        color:#777777;
        text-align: left;
        padding-left:60px;
        font-size: 13px;
        font-family: Arial;
    }
    #contact {
       width: 100%;
       width: 980px;
       height: 500px;
    }
    .aboutTitle {
       font-family: 'Times New Roman', Times, serif;
       color: #4aaaa5;      
       padding-right:750px;
       padding-top: 20px;
       margin-top: 20px;
       font-size: 25px;
       
        
    }

    .contactTitle {
        font-family: 'Times New Roman', Times, serif;
        color: #4aaaa5;      
        padding-right:750px;
        padding-top: 20px;
        margin-top: 20px;
        font-size: 25px;
    }
    .portTitle {
        font-family: 'Times New Roman', Times, serif;
        color: #4aaaa5;      
        padding-right:660px;
        padding-top: 20px;
        margin-top: 20px;
        font-size: 25px;
    }
    div.gallery {
        position: absolute;
        top: 275px;
        left: 273px;
        margin: 10px;
        border: 2px solid rgb(196, 193, 193);
        float: center;
        width: 120px;
        height: 150px;
     }
    div.gallery img {
        width: 100%;
        height: auto;
    }
    .desc {
        padding: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-top: 110px;
        text-align: center;
        font-size: 12px;
        font-family: Arial;
        color: white;
        background-color: #4aaaa5;
         
    }
    div.gallery1 {
        position: absolute;
        top: 275px;
        right: 880px;
        margin: 10px;
        border: 2px solid rgb(196, 193, 193);
        float: right;
        width: 120px;
        height: 150px;
    }
    div.gallery1 img {
        width: 100%;
        height: auto;
    }
    div.desc1 {
        padding: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-top: 110px;
        text-align: center;
        font-size: 12px;
        font-family: Arial;
        color: white;
        background-color: #4aaaa5;
    }
    div.gallery2 {
        position: absolute;
        top: 435px;
        left: 273px;
        margin: 10px;
        border: 2px solid rgb(196, 193, 193);
        float: center;
        width: 120px;
        height: 150px;
    }
    div.gallery2 img {
        width: 100%;
        height: auto;
    }
    div.desc2 {
      padding: 8px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-top: 110px;
      text-align: center;
      font-size: 12px;
      font-family: Arial;
      color: white;
      background-color: #4aaaa5;
    }
    div.gallery3 {
        position: absolute;
        top: 435px;
        right: 880px;
        margin: 10px;
        border: 2px solid rgb(196, 193, 193);
        float: center;
        width: 120px;
        height: 150px;
    }
    div.gallery3 img {
        width: 100%;
        height: auto;
    }
    div.desc3 {
        padding: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-top: 110px;
        text-align: center;
        color: white;
        font-size: 12px;
        font-family: Arial;
        background-color: #4aaaa5;
    }
    div.gallery4 {
        position: absolute;
        top: 595px;
        left: 273px;
        margin: 10px;
        border: 2px solid rgb(196, 193, 193);
        float: center;
        width: 120px;
        height: 150px;
    }
    div.gallery4 img {
        width: 100%;
        height: auto;
    }
    div.desc4 {
        padding: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-top: 110px;
        text-align: center;
        font-size: 12px;
        font-family: Arial;
        color: white;
        background-color: #4aaaa5;
    }
    input {
        width: 390px;
        height: 25px;
    }
    #textboxid {
        margin-top: 1px;
        width: 390px;
        height: 120px;
    }
    input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 24px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right; 
    margin: 3px;
    margin-right: 88px;
    padding-left: 18px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 20px;
    height:40px;
    width:80px;
    font-size:10pt;
    font-family: Arial;
  }


   /* Media Queries */
   @media screen and (max-width: 980px) and (min-width:769px)  {
       #head {
        margin-left: 400px;
       }
      .header_links { 
          padding-right: 365px;
      }
      .galleryBox {
        width: 60%;
        margin-left: 210px;
      }
      .porttitle {
        padding-right: 400px;
      }
      div.gallery1 {
        right: 430px;
      }
      div.gallery3 {
        right: 430px;
      }
      section {
        width: 70%;
        height: 510px;
      }
      .footer_fix { margin-top: 37%;
      }
      .aboutTitle { padding-right: 450px;
      }
      img { width: 160px;
      }
      p { margin-left: 9%;
      }
       #para_font { margin-left: 6%;
        padding-right: 41%;
      }
      .sectionShift {
          width: 70%;
          margin-right: 15%;
      }
      .footer {
          margin-top: 38%;
      }
      .contactTitle { padding-right: 500px;
      }
      input[type=submit] {
          float: left;
          margin-left: 200%;
      }
   }
   
   @media screen and (max-width: 768px) and (min-width:641px) {
    #head { 
        margin-left: 275px;
        height: 900px;
    }
    .galleryBox {
    margin-left: 110px;
    } 
    .header_links { padding-right: 280px;
    }
    div.gallery { 
        left: 193px; 
    }
    div.gallery1 {right: 310px;
    left: 193px;
    width: 110px; 
    }
    div.gallery2 {
        left: 193px;
        width: 110px;
   }
   div.gallery3 {
    right: 310px;
   }
   div.gallery4 {
    left: 193px;
    width: 110px;
   }
   .portTitle {
    padding-right: 350px;
   }
   
   .sectionShift {
    margin-right: 133px;
    width: 70%;
   }
   .footer {
    margin-top: 72%;
   } 
   .contactTitle {
       padding-right: 370px; 
   }
   input[type=submit] {
       margin-right: 0px;
       float: left;
   }
   section {
    width: 70%;
   }
   .footer_fix {
    margin-top: 95%;
   }
   img {
    width: 150px;
   }
   .aboutTitle {
    padding-right: 350px;
   }
   p {
    font-size: 14px;
    line-height: 20px;
    padding-left: 7%;
   }

   #para_floated {
       padding-right: 70%;
   }

 }
   
 @media screen and (max-width: 640px) {
    .galleryBox { 
        width: 60%;
        padding-right: 70%;
        height: 600px;
        margin-left: 90px;
    }
    #head {
        font-size: 15px;
        margin-left: 34%;
        Height: 35px;
        padding-top: 1.3%;
    }
    nav {
        height: 38px;
    }
    .header_links {
        font-size: 15px;
        padding-right: 235px;
    }
    .portTitle {
       padding-right: 200px;
       font-size: 20px;
       margin-top: 4%;
    }
    div.gallery {
        top: 195px;
        left: 83px;
        width: 90px;
        height: 140px;
    }
    div.gallery1 {
    top: 195px;
    right: 340px;
    width: 90px;
    height: 140px;
    }
    div.gallery2 {
    top: 355px;
    left: 83px;
    width: 90px;
    height: 140px;
    }
    div.gallery3 {
        top: 355px;
        right: 340px;
        width: 90px;
        height: 140px;
    }
    div.gallery4 {
    top: 515px;
    left: 83px;
    width: 90px;
    height: 140px;
    }
    .copyright {
     padding-right: 43%;
       
    }
    .sectionShift {
        width: 70%;
        margin-right: 93px;
    }
    .footer {
        margin-top: 64%;
    }
    input {
        width: 380px;

   } 
   #textboxid {
   width: 380px;
   }
   input[type=submit] {
       margin-right: -60px;
   }
   .contactTitle {
       padding-right: 260px;
       font-size: 20px;
   }
  section {
       width: 80%;
  }
  .aboutTitle {
    padding-right: 300px;
    font-size: 20px;
  }
  img {
    width: 150px;
  }
  p {
      font-size: 10px;
      line-height: 15px;
      padding-left: 10%;
  }
  #para_floated {
    padding-right: 80%;
  }
  .footer_fix {
    margin-top: 62%;
  }
}
       
       
    

   


  
 
 
    
   

  
    